@tailwind base;
@tailwind components;
@tailwind utilities;

.hexagon {
  /* Rotate for pointy-top orientation and adjust clip path accordingly */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  backface-visibility: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}